@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --primary: #2023c9;
  --secondary: #229c17;
  --tertiary: #cc6708;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;
}