#section-header {
    display: flex;
    align-items: center; /* Alinha os itens ao centro verticalmente */
    width: 100vw;
    box-sizing: border-box; 
     margin-top: 0;
    justify-content: space-between; /* Alinha os itens com espaço entre eles */
    gap: 10rem;
    
}


