/* Slide.css */

.mySwiper {
  max-width: 98%;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:poppins;
}

.divCarrosselGeral {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: var(--muted-color);
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.ofertasTexto {
  max-width: 50%;
}

.paragrafoMOferta {
  color: #ff9800;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

#h1QueimaEstoque {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #222;
  display: flex;
  align-items: center;
}

#h1QueimaEstoque::after {
  
  margin-left: 0.5rem;
}

.paragrafoDescricaoOferta {
  color: #666;
  line-height: 1.5;
  margin: 1rem 0;
  
}

.botaoVendoOfertas {
  padding: 0.7rem 1.5rem;
  background-color: var(  --accent-color);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
 
}

.botaoVendoOfertas:hover {
  background-color: var( --secondary-color);
  
}

.divCarrosselImagens {
  position: relative;
  display: flex;
  align-items: center;
}

.divImagensOferta {
  position: absolute;
  top: 10%;
  right: -20px;
}

#imagemOrnament {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  padding: 5px;
}

#equipamentos\ em\ destaque {
  width: 400px;
  height: 305px;
}
